@media screen and (max-width: 1280px) {
    .hero-area .hero_right img {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .header-area .top-header-area {
        padding: 0px 50px;
        padding-left: 0px;
    }
    .breaking-news{
        text-align: center !important;
    }
    .header-area .top-header-area .breaking-news .ticker {
        width: 100%;
        text-align: center;
    }
    .header-area .top-header-area .breaking-news .ticker ul li {
       text-align: center;
    }
    .header-area .top-header-area .breaking-news .ticker ul li a {
        font-size: 18px;
        color: #fff;
        font-style: italic;
        text-align: center;
    }
    .header-area .delicious-main-menu {
        height: 90px;
        padding: 0% 4%;
    }
    .hero-area .hero_left {
        transform: translateY(15%);
      }
    .hero-area .hero_left h1 {
        font-size: 28px;
    }
    .hero-area .hero_left p {
        font-size: 15px;
    }
    .latest_updates input{
        padding: 8px 12px;
        width: 220px;
    }
    .latest_updates button{
        padding: 8px 15px;
      }
    .hero-area .hero_right img {
      width: 88%;
      margin-left: 10px;
      margin-top: 90px;
    }
    .home-feature {
        margin-top: 200px;
      }
  }
